yourdomain.tld {
  reverse_proxy homeserver:6167
}
livekit.yourdomain.tld {
  @jwt path /sfu/get* /healthz* /get_token*
    route @jwt {
      reverse_proxy jwt:8081
    }
    reverse_proxy livekit:7880
}
